@import "tailwindcss";

:root {
  --background: #101622;
  --foreground: #ededed;
}

* {
  cursor: none !important;
}

body {
  background-color: var(--background) !important;
  color: var(--foreground);
  margin: 0;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 2rem;
}

.perspective-container {
  perspective: 2000px;
  perspective-origin: 50% 50%;
}

.preserve-3d {
  transform-style: preserve-3d;
}