@import "tailwindcss";

:root {
  --background: #101622;
  --foreground: #ededed;
}

body {
  background-color: var(--background) !important;
  color: var(--foreground);
  margin: 0;
  min-height: 100vh;
}