name: CI/CD Portfolio Website

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/my-portfolio:latest 

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Install Cloudflared
        run: |
          curl -L --output cloudflared.deb https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64.deb
          sudo dpkg -i cloudflared.deb

      - name: Configure SSH with Service Token
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          
          cat <<EOF > ~/.ssh/config
          Host portfolio_server
              HostName ${{ secrets.SSH_HOST }}
              User ${{ secrets.SSH_USERNAME }}
              IdentityFile ~/.ssh/id_ed25519
              ProxyCommand /usr/local/bin/cloudflared access ssh --hostname %h --service-token-id ${{ secrets.CF_CLIENT_ID }} --service-token-secret ${{ secrets.CF_CLIENT_SECRET }}
              StrictHostKeyChecking no
          EOF

      - name: Deploy via SSH
        run: |
          ssh portfolio_server << 'EOF'
            docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} -p ${{ secrets.DOCKER_HUB_TOKEN }}
            
            docker pull ${{ secrets.DOCKER_HUB_USERNAME }}/my-portfolio:latest
            
            docker stop portfolio-app || true
            docker rm -f portfolio-app || true
            
            docker run -d \
              --name portfolio-app \
              -p 2664:2664 \
              --restart always \
              ${{ secrets.DOCKER_HUB_USERNAME }}/my-portfolio:latest
            
            docker image prune -f
          EOF